<div *ngIf="!isLoading">
  <h2 class="py-4 mb-3" [translate]="'UniversisGraduationModule.GraduationProgress'"></h2>
  <div class="pb-4">
    <div class="btn float-right">
      <button class="btn btn-light col-12" type="button" disabled [translate]="'UniversisGraduationModule.ContactRegistrar'"></button>
    </div>
    <div class="font-sm col-6 pl-0" [translate]="'UniversisGraduationModule.GraduationInfo'"></div>
  </div>
  <div class="card mt-4">
    <div class="card-body px-4 py-3">
      <h5 class="card-title" [translate]="'UniversisGraduationModule.StudentInfo'"></h5>
      <div class="form-group row">
        <div class="col-md-2">
          <span class="text-dark" [translate]="'UniversisGraduationModule.StudyGuide'"></span>
        </div>
        <div>
          <span class="text-secondary col-md-6">{{this.studentGuide || "-"}}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <span class="text-dark" [translate]="'UniversisGraduationModule.Specialty'"></span>
        </div>
        <div>
          <span class="text-secondary col-md-6">{{this.studentSpecialty || "-"}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="graduationInfo && graduationInfo.graduationRules; else not_set">
    <div *ngIf="graduationInfo.graduationRules[0].ruleExpression === null; else complex">
  <div class="row">
    <div class="col-12 d-flex flex-row-reverse">
      <div>
        <a href="#/degree/overview/prerequisites/graduation-rules" type="button" class="btn switch-left btn-light" [translate]="'UniversisGraduationModule.Prerequisites'"></a>
        <a href="#/degree/overview/prerequisites/graduation-progress" type="button" class="btn switch-right btn-indigo" [translate]="'UniversisGraduationModule.Progress'"></a>
      </div>
    </div>
  </div>
    <div *ngFor="let rules of graduationInfo.graduationRules | groupBy: 'refersTo' | values" class="card mt-4">
      <div *ngIf="rules[0].ruleExpression === null">
      <div class="card-body px-4 py-3">
        <a [ngVar]="true" #collapsed1="ngVar" href="javascript:void(0)" class="card-title font-lg font-weight-normal  text-decoration-none text-secondary"
           (click)="collapsed1.value = !collapsed1.value">
        <h5 class="card-title mb-2">{{rules[0].refersTo | translate}}
          <i class="collapsible  ml-3 pt-1 fa" [ngClass]=" {'fa-chevron-up' : collapsed1.value, 'fa-chevron-down' : !collapsed1.value}"></i>
        </h5>
        </a>
        <form  *ngIf="collapsed1.value" class="mt-2 collapsible-form ">
        <div class="d-flex py-2 course-row" *ngFor="let rule of rules">
          <div class="circle"
               [ngClass]="{'text-indigo': rule.validationResult.data.result < rule.validationResult.data.value1,
                           'text-success': rule.validationResult.data.result > rule.validationResult.data.value1 ||
                                           rule.validationResult.data.result == rule.validationResult.data.value1}">
            <span class="font-lg">{{rule.validationResult.data.result}}</span>
          </div>
          <div class="align-self-center">
            <span *ngIf="rules[0].refersTo === 'CourseType'">
              <span *ngFor="let type of courseTypes | filterBy: ['id']: rule.checkValues | values">
                <span class="ml-3 pb-3">{{type.name}}</span>
              </span>
            <span class="ml-3 pb-3" *ngIf="rule.checkValues === '-1'">{{'AllTypeCourses' | translate}}</span>
              </span>
            <span class="ml-3 row text-secondary">{{rule.validationResult.message}}.</span>
          </div>
        </div>
        </form>
      </div>
    </div>
    </div>
  </div>
  </div>
  <ng-template #complex>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class="col-12">
            <span class="text-gray-600" [translate]="'UniversisGraduationModule.ComplexRules'"></span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #not_set>
    <div class='card'>
      <div class='card-body'>
        <div class='row'>
          <div class="col-12">
            <span class="text-gray-600" [translate]="'UniversisGraduationModule.NoRulesFound'"></span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
