<h1> {{ 'UniversisGraduationModule.Degree' | translate }} </h1>
<div class="clear-content-area">
  <div class="d-none d-md-block my-4">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['prerequisites']" routerLinkActive="active"
         [translate]="'UniversisGraduationModule.DegreePrerequisites'"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['graduation']"
         routerLinkActive="active"
         [translate]="'UniversisGraduationModule.Graduation'"></a>
      </li>
    </ul>
  </div>
  <div class="d-sm-block d-md-none d-lg-none my-4">
    <ul class="nav bg-white d-flex justify-content-around s--nav-tabs">
      <li class="nav-item">
        <a class="nav-link text-dark font-sm"
          title="{{ 'UniversisGraduationModule.DegreePrerequisites' | translate }}"
          routerLinkActive="active"
          [routerLink]="['prerequisites']"
          [translate]="'UniversisGraduationModule.DegreePrerequisites'"
        >
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark font-sm"
          title="{{ 'UniversisGraduationModule.Graduation'| translate }}"
          routerLinkActive="active"
          [routerLink]="['graduation']"
          [translate]="'UniversisGraduationModule.Graduation'"
        >
        </a>
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
